@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head-vid{
    width: 1300;
}
.head-vid video{
    overflow: hidden;
    width: 100%;
}
.wrapper{
    max-width: 1366px;
    margin: 0 auto;
}
.head{
    width: 1366px;
}
.nav{
    width: 1366px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #040e1142;
}
.head-img{
    width: 170px;
}
.head-img img{
    width:100%;
    display: flex;
    align-items: center;
}
.head-links{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    /* flex: 0 0 900px; */
    width: 900px;
}
.head-links ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* flex: 0 0 900px; */
    width: 100%;
    list-style: none;
    text-decoration: none;
}
.head-links li{
    margin-top: 25px;
    padding: 50px 10px 15px 10px;
    font-weight: 600;
    font-family: sans-serif;
    
}
.head-links a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.head-links a:hover{
    background-color:#FBBD1C;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    box-shadow: 0px 6px 16px -3px  white;
}
.head-links a:nth-child(1){
    background-color:#FBBD1C;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    box-shadow: 0px 6px 16px -3px  white;
}
.head-icon{
    font-size: 1.5rem;
    color: aliceblue;
    margin-top: 39px;
}
.head-icon:hover{
    color: #FBBD1C;
    font-size: 17px;
}
.head-info{
    position: absolute;
    top: 0;
    margin: 20% 0 0 30px;
    animation: head 0.7s  1 linear alternate;
}
@keyframes head {
    0%{
        opacity: 0;
        transform: translate3d(0, 100%, 0);
        -webkit-transform: translate3d(0,100%,0);
    }
    100%{
        opacity: 1;
        transform:translate3d(0,0,0) ;
        -webkit-transform: translate3d(0,0,0);
    }
    
}
.head-info p{
    color: white;
    font-size: 59px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}
.head-info h5{
    color: rgba(251, 189, 28, 1);
    font-size: 60px;
    font-family: 'Great Vibes', cursive;
    text-transform: capitalize;
}
.about-center{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px 0 ;

}
.aboutus{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.about-info{
    width: 45%;
}
.about-h1{
    color: #0153A5;
    text-transform: uppercase;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 1.7rem;
    text-shadow: 111px 19px #EAEAEA;
    margin-bottom: 30px;
}
.about-para{
    font-size: 1.1rem;
    text-align: justify;
}
.about-pic{
    width: 45%;
    margin-left: 24px;
}
.about-pic img{
    width: 100%;
}
.products-pic{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.products-pic img{
    border: 1px solid black;
}
.pic-name{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pic-name p{
    text-transform:capitalize ;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 600;
    color:#0153A5 ;
}
.about-pic2{
    width: 45%;
    margin-right: 30px;
}
.about-pic2 img{
    width: 100%;
}
.our-sec {
    height: 12vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.our-h1{
    color: #0153A5;
    text-transform: uppercase;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 1.7rem;
    text-shadow: 111px 19px #EAEAEA;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}
.slider-center{
    
    margin: 40px 0 40px 0 ;
}
.slider-pic{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.img1:nth-child(1){
    height: 80vh;
    width: 350px;
    background-image: url(../image/house_paint.png);
    background-repeat: no-repeat;
    animation: slide1 3s linear 1.4s infinite alternate;
    border-radius: 22px;
}
@keyframes slide1{
    0%{
        background-image: url(../image/house_paint.png);
        transform: translateX(45px);
        
    }
    100%{
        background-image: url(../image/yards.png);
        
    }
}
.img1:nth-child(2){
    height: 80vh;
    width: 350px;
    background-image: url(../image/living_room.png);
    background-repeat: no-repeat;
    border-radius: 22px;
    animation: slide2 3s linear 1.4s infinite alternate;
}
@keyframes slide2{
    0%{
        background-image: url(../image/living_room.png);
        transform: translateX(45px);
        
    }
    100%{
        background-image: url(../image/slider_img1.png);
        
    }
}
.img1:nth-child(3){
    height: 80vh;
    width: 350px;
    background-image: url(../image/slider_img1.png);
    background-repeat: no-repeat;
    border-radius: 22px;
    animation: slide3 3s linear 1.4s infinite alternate;
}
@keyframes slide3{
    0%{
        background-image: url(../image/slider_img1.png);
        transform: translateX(45px);
        
    }
    100%{
        background-image: url(../image/house_paint.png);
        
    }
}
.img-info{
    height: 450px;
    width: 95%;
    margin-top: 44px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    animation: col 3s  linear 1.4s infinite alternate;
}
@keyframes col {
    0%{
        color: white;
    }
    50%{
        color: rgba(255, 255, 255, 0.541);
    }
    100%{
        color: black;
    }
}
.img-info h5{
    font-size: 29px;
    font-family: sans-serif;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.img-info p{
    font-family: sans-serif;
    text-align: justify;
    margin-bottom: 22px;
}
.img-info a{
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 10px 19px;
    border-radius: 22px;
    font-family: sans-serif;
    color: white;
    animation: cor 3s  linear 1.4s infinite alternate;
}
@keyframes cor {
    0%{
        color: black;
        background-color: white;
    }
    50%{
        color: rgba(255, 255, 255, 0.541);
    }
    100%{
        color: black;
        background-color: transparent;
    }
}
.table{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}
.tbl-center{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.price-list{
    margin: 15px 0 15px 0;
    color: #0153A5;
    text-transform: uppercase;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 1.7rem;
    text-shadow: 111px 19px #EAEAEA;
}
.price-list span{
    color: red;
    text-transform: uppercase;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 1.2rem;
    text-shadow: 111px 19px #EAEAEA;
}
.tbl-head{
    display: flex;
    width: 100%;
}
.head-p1{
    width: 40%;
    text-transform: capitalize;
}
.head-p1 h5{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;
    margin: 15px 0 0 0;
    padding: 9px 2px 0 2px ;
    width: 50%;
    font-size: 17px;
    font-weight: 20;
    background-color: black;
    color: white;

}
.head-p2{
    width: 60%;
    text-transform: uppercase;
    text-align: right;
    font-size: 29px;
    color: #0153A5;
    font-family: sans-serif;
}
.head-p2 span{
    font-size: 12px;
}
.t1{
    width: 100%;
    font-family: sans-serif;
    border: 1.5px solid black;
}
.t1 thead{
    background-color: red;
    border: 1.5px solid black;
}
.t1 thead tr td:nth-child(1){
    border: 1.5px solid black;
}
.t1 thead tr td:nth-child(2){
    border: 1.5px solid black;
}
.t1 thead tr td:nth-child(3){
    border: 1.5px solid black;
}
.t1 thead tr td:nth-child(4){
    border: 1.5px solid black;
}
.t1 thead tr td:nth-child(5){
    border: 1.5px solid black;
}

.t1 tbody tr td:nth-child(1){
    background-color: #d2d2d291;
    border: 1.5px solid black;
}
.t1 tbody tr td:nth-child(2){
    background-color: #d2d2d2;
    border: 1.5px solid black;
}
.t1 tbody tr td:nth-child(3){
    background-color: #d2d2d2;
    border: 1.5px solid black;
}
.t1 tbody tr td:nth-child(4){
    background-color: #d2d2d2;
    border: 1.5px solid black;
}
.t1 tbody tr td:nth-child(5){
    background-color: #d2d2d2;
    border: 1.5px solid black;
}
.t1 tr td:nth-child(1){
    width:640px;
    height: 40px;
}
.t1 span{
    
margin-left: 30px;
}
.t1 tbody tr td:hover{
    background-color: #221f1f6b;
}
.res-center{
    width: 1346.5px;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 70px;
}
.response{
    width: 80%;
    margin-top: 40px;

}
.res-head{
    color: #0153A5;
    text-transform: uppercase;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 2rem;
    text-shadow: 111px 19px #EAEAEA;
    margin-bottom: 60px;
}
.res-info{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    
}
.res-pic{
    width: 100%;
    height: 380px;
    flex-wrap: wrap;
    background-image: url(../image/iqbal.jpg);
    background-size: cover;
}
.res-said{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}
.said-1{
    color: #b1b1b1;
    margin-left: 20px;
    font-size: 1.2rem;
    flex-wrap: wrap;
}
.said-2{
    text-transform: uppercase;
    font-family: sans-serif;
    margin-left: 20px;
    flex-wrap: wrap;
    font-size: 1.4rem;
}

.contact-center{
    width: 100%;
    height: 85vh;
    background-image: url(../image/footer_layer.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contact{
    width: 93vw;
    height: 100%;
    display: flex;
    justify-content: center;
}
.contact-card{
    width: 90%;
    height: 85%;
    margin-top: 50px;
    display: flex;

}
.contact-info{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.info-head{
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 600;
    color: white;
    font-size: 1.7rem;
    margin:0 0 20px 60px;
    width: 80%;
}
.contact-src{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-weight: 400;
    margin: 0 0 10px;
    color: #ffffff;
}
ul{
    list-style: none;
}
.info-ad{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ad-inf{
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: 300;
    color: white;
}
.info-iclo{
    display: flex;
    justify-content: space-around;
    margin: 10px 0 10px 0;
}
.info-icon li{
    display: inline;
    margin-right: 10px;
    font-size: 1.5rem;
    color: white;
}

.info-links{
    display: flex;
    justify-content: center;
    height: 9%;
    margin: 10px 0 10px 0;
    font-family: sans-serif;
}
.foot-links ul{
    display: flex;
    font-size: 0.8rem;
    
}
.foot-links a{
    margin-right: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    
}
.head-clr{
    color: #FBBD1C;
}
.info-dis{
    font-family: sans-serif;
    color: white;
}

.contact-msg{
    width: 50% ;
    height: 100%;
    margin-left: 30px;
}


.msg-head{
    width: 90%;
    text-transform: uppercase;
    color: white;
    font-family: sans-serif;
    font-size: 1.5rem;
    margin: 0 0 20px 50px;
}
.name-email{
    margin: 15px 0 15px 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.inp-name{
    width: 100%;
}

.inp-email{
    width: 100%;
    text-align: right;
}
.inp-name input{
    border-radius: 8px;
    padding: 10px 90px 10px 5px;
    border: 1px solid white;
    text-transform: uppercase;
}

.inp-email input{
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px 110px 10px 5px;
    text-transform: uppercase;
}
.inp-msg{
    width: 100%;
    height: 38vh;
}
.inp-msg input{
    padding:20px  336px  207px 18px;
    border: 1px solid white;
    border-radius: 8px;
    font-size:17px;
}

.send-btn{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    background-color: #0153A5;
    font-size: 1rem;
    font-family: sans-serif;
    color: white;
    padding: 9px 0 9px 0;
}

.footer{
    width: 100%;
    background-color: #2D2D2D;
    display: flex;
    justify-content: center;
}
.foot{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
}
